.page-footer {
    display: none;
}


/* ---MEDIA--- */

@media (min-width: 660px) {
    
    .page-footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
        justify-content: space-around;
    }
}


@media (min-width: 960px) {

}